.blob{
    /*border: 1px solid black;*/
    width:200px;
}
  .blob path {
   animation: blob 30s linear  infinite;
  }
  @keyframes blob {
    0% {    d:path("M163.14,295.1a217.63,217.63,0,0,0,16.43,70.76c8.28,19.66,16.42,38.27,34.57,47.25,6,3,9,2.88,17.28,7,3.45,1.72,18.13,9.64,32,26.25a114.56,114.56,0,0,1,19,32.38c5.92,15.79,3.94,22,12.1,41.13,5.57,13.09,9.39,17,12.1,19.25,8.54,7.1,18.46,8,25.93,8.75a61.37,61.37,0,0,0,28.52-3.5c14.83-5.77,23.38-16.53,34.58-30.63,13-16.3,13-22.05,22.47-28,10.61-6.68,22.46-6.93,30.74-6.12V295.1Z");
    }
    25% {   d:path("M 163.14 295.1 a 217.63 217.63 0 0 0 7.86 71.9 c 8.28 19.66 3.43 32.14 34.57 47.25 c 6 3 9 2.88 17.28 7 c 3.45 1.72 23.15 3.75 39.15 23.75 a 114.56 114.56 0 0 1 19 32.38 c 5.92 15.79 -6 29.62 -6 61.62 c 1 15 2.9 20.49 8.9 31.49 c 6.8 16.24 13.1 18.51 29.1 22.51 a 61.37 61.37 0 0 0 34.17 -0.24 c 14.83 -5.77 23.38 -16.53 34.58 -30.63 c 13 -16.3 13 -22.05 22.47 -28 c 10.61 -6.68 22.46 -6.93 23.78 -34.13 V 295.1 Z");
    }
    50% {
      d:path("M 163.14 295.1 a 217.63 217.63 0 0 0 10.86 69.9 c 12 24 3.43 32.14 43 43 c 6 3 9 2.88 17.28 7 c 3.45 1.72 23.15 3.75 39.15 23.75 a 114.56 114.56 0 0 1 22 32 c 5.92 15.79 -6 29.62 -6 61.62 c 1 15 2.9 20.49 8.9 31.49 c 6.8 16.24 13.1 18.51 28.67 24.14 a 61.37 61.37 0 0 0 33 -13 c 14.83 -5.77 23.38 -16.53 34.58 -30.63 c 13 -16.3 13 -22.05 22.47 -28 c 10.61 -6.68 22.46 -6.93 23.78 -34.13 V 295.1 Z")
    }
    75%{
      d:path("M 163.14 295.1 a 217.63 217.63 0 0 0 7.86 71.9 c 8.28 19.66 13 27 34.57 47.25 c 6 3 9 2.88 17.28 7 c 3.45 1.72 21.15 7.75 39.15 23.75 a 114.56 114.56 0 0 1 18 25 c 5.92 15.79 -6 29.62 -3 49 c 1 15 2.9 20.49 8.9 31.49 c 6.8 16.24 13.1 18.51 29.1 22.51 a 61.37 61.37 0 0 0 34.17 -0.24 c 14.83 -5.77 23.38 -16.53 34.58 -30.63 c 13 -16.3 13 -22.05 22.47 -28 c 10.61 -6.68 22.46 -6.93 23.78 -34.13 V 295.1 Z")
    }
    
    100%{
      d:path("M163.14,295.1a217.63,217.63,0,0,0,16.43,70.76c8.28,19.66,16.42,38.27,34.57,47.25,6,3,9,2.88,17.28,7,3.45,1.72,18.13,9.64,32,26.25a114.56,114.56,0,0,1,19,32.38c5.92,15.79,3.94,22,12.1,41.13,5.57,13.09,9.39,17,12.1,19.25,8.54,7.1,18.46,8,25.93,8.75a61.37,61.37,0,0,0,28.52-3.5c14.83-5.77,23.38-16.53,34.58-30.63,13-16.3,13-22.05,22.47-28,10.61-6.68,22.46-6.93,30.74-6.12V295.1Z")
    }
    
  }
  

  
  