
.App{
  position: relative;
  z-index: -5;
  background-color: beige;
}

.holder1{
  width: 700px;
  height: 1000px;
  z-index: -1;
  position: relative;
  margin-left: 1270px;
  /*border: 1px solid black;*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blob{
  /*border: 1px solid red;*/
  width:550px;
  fill: orangered;
}
.blob path {
 animation: blob 10s linear  infinite;
}
@keyframes blob {
  0% {    d:path("M163.14,295.1a217.63,217.63,0,0,0,16.43,70.76c8.28,19.66,16.42,38.27,34.57,47.25,6,3,9,2.88,17.28,7,3.45,1.72,18.13,9.64,32,26.25a114.56,114.56,0,0,1,19,32.38c5.92,15.79,3.94,22,12.1,41.13,5.57,13.09,9.39,17,12.1,19.25,8.54,7.1,18.46,8,25.93,8.75a61.37,61.37,0,0,0,28.52-3.5c14.83-5.77,23.38-16.53,34.58-30.63,13-16.3,13-22.05,22.47-28,10.61-6.68,22.46-6.93,30.74-6.12V295.1Z");
  }
  25% {   d:path("M 163.14 295.1 a 217.63 217.63 0 0 0 16.43 70.76 c 8.28 19.66 16.42 38.27 34.57 47.25 c 6 3 0.86 20.89 8.86 32.89 c 7 10 15 22 30 31 a 114.56 114.56 0 0 1 19 32.38 c 5.92 15.79 3.94 22 15 40.37 c 2 5 8 16 12.1 19.25 c 8.54 7.1 18.46 8 25.93 8.75 a 61.37 61.37 0 0 0 28.45 -16.87 c 14.83 -5.77 23.38 -16.53 34.58 -30.63 c 13 -16.3 13 -22.05 22.47 -28 c 10.61 -6.68 22.46 -6.93 40.37 -6.26 V 295.1 Z");
  }
  50% {
    d:path("M 163.14 295.1 a 217.63 217.63 0 0 0 10.86 69.9 c 12 24 3.43 32.14 43 43 c 6 3 9 2.88 17.28 7 c 3.45 1.72 23.15 3.75 39.15 23.75 a 114.56 114.56 0 0 1 22 32 c 5.92 15.79 -6 29.62 -6 61.62 c 1 15 2.9 20.49 8.9 31.49 c 6.8 16.24 13.1 18.51 28.67 24.14 a 61.37 61.37 0 0 0 33 -13 c 14.83 -5.77 23.38 -16.53 34.58 -30.63 c 13 -16.3 13 -22.05 22.47 -28 c 10.61 -6.68 22.46 -6.93 34.95 -34.37 V 295.1 Z")
  }
  75%{
    d:path("M 163.14 295.1 a 217.63 217.63 0 0 0 7.86 71.9 c 8.28 19.66 13 27 34.57 47.25 c 6 3 9 2.88 17.28 7 c 3.45 1.72 21.15 7.75 39.15 23.75 a 114.56 114.56 0 0 1 18 25 c 5.92 15.79 -6 29.62 -3 49 c 1 15 2.9 20.49 8.9 31.49 c 6.8 16.24 13.1 18.51 29.1 22.51 a 61.37 61.37 0 0 0 34.17 -0.24 c 14.83 -5.77 23.38 -16.53 34.58 -30.63 c 13 -16.3 13 -22.05 22.47 -28 c 10.61 -6.68 22.46 -6.93 55.78 -32.13 V 295.1 Z")
  }
  
  100%{
    d:path("M163.14,295.1a217.63,217.63,0,0,0,16.43,70.76c8.28,19.66,16.42,38.27,34.57,47.25,6,3,9,2.88,17.28,7,3.45,1.72,18.13,9.64,32,26.25a114.56,114.56,0,0,1,19,32.38c5.92,15.79,3.94,22,12.1,41.13,5.57,13.09,9.39,17,12.1,19.25,8.54,7.1,18.46,8,25.93,8.75a61.37,61.37,0,0,0,28.52-3.5c14.83-5.77,23.38-16.53,34.58-30.63,13-16.3,13-22.05,22.47-28,10.61-6.68,22.46-6.93,30.74-6.12V295.1Z")
  }
  
}

.holder2{
  z-index: -2;
  position: relative;
  margin-top: -1000px;
  display: flex;
  flex-direction: column;
  height: 1000px;
  justify-content: space-between;
}

.blob2{
  width:500px;
  fill:orange;
  /*border: 1px solid grey;*/
}

.blob2 path {
  animation: blob2 15s linear  infinite;
 }
 @keyframes blob2 {
   0% {    d:path("M0,605.59V792H159.14A87.86,87.86,0,0,0,202,784c7.13-3.4,11.89-7,21.41-14.28,21.36-16.27,32-24.41,35.68-34.25,6.33-17.09-1.67-41.32-17.12-54.24-22.3-18.63-44.23-.36-81.36-18.56-9.57-4.69-31.47-15.42-40-37.11-11.7-29.89,14.48-48.9,2.86-74.22C112.56,527.61,75.62,514,57.8,524.23c-14.79,8.52-10.44,30.07-30,42.82-10.1,6.6-21.16,7.3-27.83,7.14");
   }
   25% {   d:path("M 0 605.59 V 792 H 159.14 A 87.86 87.86 0 0 0 202 784 c 7.13 -3.4 11.89 -7 21.41 -14.28 c 21.36 -16.27 31.59 -14.72 36.59 -33.72 c -1 -17 -1.67 -41.32 -18.09 -52.47 c -22.3 -18.63 -62.91 25.47 -81.36 -18.56 c -9.55 -45.97 -31.47 -15.42 -37.61 -37.67 c -11.7 -29.89 14.48 -48.9 -0.61 -70.56 C 112.56 527.61 75.62 514 57 535 c -14.79 8.52 -10.44 30.07 -30 42.82 c -10.1 6.6 -21.16 7.3 -27.83 7.14");
   }
   50% {
     d:path("M 0 605.59 V 792 H 159.14 A 87.86 87.86 0 0 0 202 784 c 7.13 -3.4 11.89 -7 21.41 -14.28 c 21.36 -16.27 -15.41 -26.72 45.59 -45.72 c 24 -19 12 -42 -18.09 -52.47 c -22.3 -18.63 -62.91 25.47 -81.36 -18.56 c -17.55 -31.97 -31.47 -15.42 -37.61 -37.67 c -11.7 -29.89 -42.94 -32.3 -30.94 -66.3 C 103 513 75.62 514 57 535 c -14.79 8.52 -10.44 30.07 -30 42.82 c -10.1 6.6 -21.16 7.3 -27.83 7.14")
   }
   75%{
     d:path("M 0 605.59 V 792 H 159.14 A 87.86 87.86 0 0 0 202 784 c 7.13 -3.4 11.89 -7 21.41 -14.28 c 21.36 -16.27 31.59 -14.72 36.59 -33.72 c -1 -17 -1.67 -41.32 -18.09 -52.47 c -22.3 -18.63 -63.91 51.47 -81.91 -17.53 c -13 -39 -31.47 -15.42 -37.61 -37.67 c -11.7 -29.89 0.06 -49.3 -0.61 -70.56 C 112.56 527.61 88 526 58 548 c -14.79 8.52 -10.44 30.07 -30 42.82 c -10.1 6.6 -21.16 7.3 -27.83 7.14")
   }
   
   100%{
     d:path("M0,605.59V792H159.14A87.86,87.86,0,0,0,202,784c7.13-3.4,11.89-7,21.41-14.28,21.36-16.27,32-24.41,35.68-34.25,6.33-17.09-1.67-41.32-17.12-54.24-22.3-18.63-44.23-.36-81.36-18.56-9.57-4.69-31.47-15.42-40-37.11-11.7-29.89,14.48-48.9,2.86-74.22C112.56,527.61,75.62,514,57.8,524.23c-14.79,8.52-10.44,30.07-30,42.82-10.1,6.6-21.16,7.3-27.83,7.14")
   }
   
 }

 .holder3{
   position: relative;
   z-index: -3;
   border: 1px solid blue;
 }
 .blob3{
  width:700px;
  fill:teal;
  /*border: 1px solid grey;*/
}
.blob4{
  width:700px;
  fill: green;
  /*border: 1px solid grey;*/
}
.blob3 path {
  animation: blob3 15s linear  infinite;
 }
 @keyframes blob3 {
   0% {    d:path("M0,0H72.06A48.13,48.13,0,0,1,83.81,3.92a48.93,48.93,0,0,1,8.82,5.51c4.13,3.24,3.77,5.12,6.61,6.25,3.28,1.3,6.76.37,9.55-.37,4.74-1.26,5.33-2.87,7.71-2.57,3.76.46,7.56,5.11,7.35,9.18-.33,6.17-10.22,10.06-16.53,11-8.75,1.33-16.6-2.07-19.47-3.31-8-3.48-10.8-7.59-14.69-6.24s-3,6.11-7.34,8.45c-4.75,2.53-12.07.08-16.53-3.68C43.15,23,45.35,17.78,39,13.47A18,18,0,0,0,26.15,10.9c-1.49.31-6.38,1.32-8.81,5.51-1.73,3-1.36,6.07-1.1,8.08,1,7.45,5.34,8.62,8.08,16.53,1,2.91,3.63,10.46,0,14.32-2.89,3.07-9.12,3.16-12.86.73-3-2-3-4.62-8.44-11.75C1.8,42.73.73,41.48,0,40.65Z");
   }
   25% {   d:path("M 0 0 H 72.06 A 48.13 48.13 0 0 1 83.81 3.92 a 48.93 48.93 0 0 1 8.82 5.51 c 4.13 3.24 3.77 5.12 6.61 6.25 c 3.28 1.3 6.76 0.37 9.55 -0.37 c 4.74 -1.26 5.33 -2.87 7.71 -2.57 c 3.76 0.46 7.56 5.11 7.35 9.18 c -0.33 6.17 -9.85 16.08 -16.53 11 c -12.32 -9.92 -16.6 -2.07 -19.47 -3.31 c -8 -3.48 -10.8 -7.59 -14.69 -6.24 s -5.16 3.63 -7.34 8.45 c -4.82 5.18 -7.82 -4.82 -16.53 -3.68 C 42 26 51 17 39 13.47 A 18 18 0 0 0 26.15 10.9 c -2.15 2.1 -9.15 -1.9 -8.81 5.51 c 0.66 5.59 -1.36 6.07 -1.1 8.08 c 1 7.45 5.34 8.62 8.08 16.53 c 1 2.91 3.63 10.46 0 14.32 c -2.89 3.07 -9.12 3.16 -12.86 0.73 c -3 -2 -1.46 -6.07 -8.44 -11.75 C 1.8 42.73 0.73 41.48 0 40.65 Z");
   }
   50% {
     d:path("M 0 0 H 72.06 A 48.13 48.13 0 0 1 85 5 a 48.93 48.93 0 0 1 7 4 c 6 3 3.77 5.12 6.61 6.25 c 3.28 1.3 6.76 0.37 9.55 -0.37 c 4.74 -1.26 5.33 -2.87 7.71 -2.57 c 3.76 0.46 7.56 5.11 7.35 9.18 c -0.33 6.17 -9.85 16.08 -16.53 11 c -12.32 -9.92 -9.32 4.08 -19.47 -3.31 c -6.85 -9.61 -10.8 -7.59 -14.69 -6.24 s -5.16 3.63 -7.34 8.45 c -4.82 5.18 -11.82 7.18 -16.53 -3.68 C 46 17 51 17 39 13.47 A 18 18 0 0 0 26.15 10.9 c -2.15 2.1 0.85 7.1 2.85 8.1 c 7.66 9.59 -1.36 6.07 -1.1 8.08 c 1 7.45 5.34 8.62 8.08 16.53 c 1 2.91 3.63 10.46 0 14.32 c -2.89 3.07 -9.12 3.16 -12.86 0.73 c -3 -2 4.88 -12.66 -5.12 -17.66 C 3 35 0.73 41.48 0 40.65 Z")
   }
   75%{
     d:path("M 0 0 H 72.06 A 48.13 48.13 0 0 1 83.81 3.92 a 48.93 48.93 0 0 1 8.82 5.51 c 4.13 3.24 3.77 5.12 6.61 6.25 c 3.28 1.3 6.76 0.37 9.55 -0.37 c 4.74 -1.26 5.33 -2.87 7.71 -2.57 c 3.76 0.46 7.56 5.11 7.35 9.18 c -0.33 6.17 -13.85 1.08 -16.53 11 c -1.32 10.08 -16.6 -2.07 -19.47 -3.31 c -8 -3.48 -10.8 -7.59 -14.69 -6.24 s -3 6.11 -7.34 8.45 c -4.75 2.53 -9.82 3.18 -16.53 -3.68 C 43.15 23 49 15 39 13.47 A 18 18 0 0 0 26.15 10.9 c -4.15 1.1 -0.15 6.1 -8.81 5.51 c -5.34 0.59 -1.36 6.07 -1.1 8.08 c 1 7.45 5.34 8.62 13.76 17.51 c 1 2.91 3.63 10.46 0 14.32 c -2.89 3.07 -9.12 3.16 -12.86 0.73 c -3 -2 -1.14 -7.05 -8.44 -11.75 C 3 41 0.73 41.48 0 40.65 Z")
   }
   
   100%{
     d:path("M0,0H72.06A48.13,48.13,0,0,1,83.81,3.92a48.93,48.93,0,0,1,8.82,5.51c4.13,3.24,3.77,5.12,6.61,6.25,3.28,1.3,6.76.37,9.55-.37,4.74-1.26,5.33-2.87,7.71-2.57,3.76.46,7.56,5.11,7.35,9.18-.33,6.17-10.22,10.06-16.53,11-8.75,1.33-16.6-2.07-19.47-3.31-8-3.48-10.8-7.59-14.69-6.24s-3,6.11-7.34,8.45c-4.75,2.53-12.07.08-16.53-3.68C43.15,23,45.35,17.78,39,13.47A18,18,0,0,0,26.15,10.9c-1.49.31-6.38,1.32-8.81,5.51-1.73,3-1.36,6.07-1.1,8.08,1,7.45,5.34,8.62,8.08,16.53,1,2.91,3.63,10.46,0,14.32-2.89,3.07-9.12,3.16-12.86.73-3-2-3-4.62-8.44-11.75C1.8,42.73.73,41.48,0,40.65Z")
   }
   
 }


.blob4 path {
  animation: blob4 15s linear  infinite;
 }
 @keyframes blob4 {
   0% {    d:path("M612,792H200.46c-18.88-.48-34.86-10.6-40.71-25.5-.39-1-6.75-18,2.27-31.66,10.77-16.38,30-7.6,62.18-24.87,12.39-6.66,32.59-17.51,35.05-35.05,1.71-12.19-6.4-18.67-2.26-30.53,4.32-12.41,17.65-18.14,20.35-19.22,26.32-10.59,57.46,12.16,65.58,18.09,10.81,7.9,8.49,9.06,43,41.83,17.19,16.34,20.56,18.72,26,20.35,17.93,5.39,25.43-7.13,53.14-9,18.78-1.3,33.38,3.21,48.61,7.91,13.55,4.19,29.06,9,45.23,21.49a116.1,116.1,0,0,1,33.92,43Z");
   }
   25% {   d:path("M 612 792 H 200.46 c -18.88 -0.48 -34.86 -10.6 -40.71 -25.5 c -0.39 -1 -6.75 -18 2.27 -31.66 c 10.77 -16.38 30 -7.6 62.18 -24.87 c 12.39 -6.66 32.59 -17.51 35.05 -35.05 c 1.71 -12.19 -6.4 -18.67 -19.25 -47.92 c 4.32 -12.41 17.65 -18.14 20.35 -19.22 c 26.32 -10.59 57.46 12.16 65.58 18.09 c 10.81 7.9 20.07 4.13 45.07 43.13 c 4.07 10.3 2.07 18.3 26 20.35 c 22.07 -17.05 25.43 -7.13 53.14 -9 c 18.78 -1.3 33.38 3.21 48.61 7.91 c 28.25 7.74 16.25 22.74 79.25 61.74 a 116.1 116.1 0 0 1 43.02 42.25 Z");
   }
   50% {
     d:path("M 612 792 H 200.46 c -18.88 -0.48 -34.86 -10.6 -40.71 -25.5 c -0.39 -1 -6.75 -18 2.27 -31.66 c 10.77 -16.38 -7.02 -80.84 62.18 -24.87 c 30.8 23.03 32.59 -17.51 35.05 -35.05 c 1.71 -12.19 -6.4 -18.67 -19.25 -47.92 c 2 -21 17.65 -18.14 20.35 -19.22 c 26.32 -10.59 57.46 12.16 65.58 18.09 c 10.81 7.9 20.07 4.13 45.07 43.13 c 4.07 10.3 2.07 18.3 26 20.35 c 22.07 -17.05 25.43 -7.13 53.14 -9 c 18.78 -1.3 32.86 -39.35 48.61 7.91 c 27.25 57.74 16.25 22.74 79.25 61.74 a 116.1 116.1 0 0 1 43.02 42.25 Z")
   }
   75%{
     d:path("M 612 792 H 200.46 c -18.88 -0.48 -34.86 -10.6 -40.71 -25.5 c -0.39 -1 -6.75 -18 2.27 -31.66 c 10.77 -16.38 30 -7.6 62.18 -24.87 c 12.39 -6.66 32.59 -17.51 35.05 -35.05 c 1.71 -12.19 -6.4 -18.67 -19.25 -47.92 c 4.32 -12.41 17.65 -18.14 20.35 -19.22 c 26.32 -10.59 57.46 12.16 65.58 18.09 c 10.81 7.9 20.07 4.13 45.07 43.13 c 4.07 10.3 2.07 18.3 26 20.35 c 22.07 -17.05 25.43 -7.13 53.14 -9 c 18.78 -1.3 33.38 3.21 48.61 7.91 c 28.25 7.74 16.25 22.74 79.25 61.74 a 116.1 116.1 0 0 1 43.02 42.25 Z")
   }
   
   100%{
     d:path("M612,792H200.46c-18.88-.48-34.86-10.6-40.71-25.5-.39-1-6.75-18,2.27-31.66,10.77-16.38,30-7.6,62.18-24.87,12.39-6.66,32.59-17.51,35.05-35.05,1.71-12.19-6.4-18.67-2.26-30.53,4.32-12.41,17.65-18.14,20.35-19.22,26.32-10.59,57.46,12.16,65.58,18.09,10.81,7.9,8.49,9.06,43,41.83,17.19,16.34,20.56,18.72,26,20.35,17.93,5.39,25.43-7.13,53.14-9,18.78-1.3,33.38,3.21,48.61,7.91,13.55,4.19,29.06,9,45.23,21.49a116.1,116.1,0,0,1,33.92,43Z")
   }
   
 }
 
 